##Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list

<%inherit file="base_ajax_template.htm"/>

<%block name="content">
    <form method="POST" action="/customer/password_edit">
        <table>
            <tbody>
                ${ form }
            </tbody>
        </table>
        <br>
        <a href = "/homepage/index" class="btn btn-default">Back</a>
        <input class = "btn btn-primary" type="submit" value = "Save Changes">
    </form>
</%block>
