<%inherit file="base.htm"/>

<%block name = "content">
	<p>
	<span class="lead">We started as professors at traditional universities.</span> We still are; we teach classes, we serve in our disciplines, we write textbooks, and we conduct research.  We understand what it means to be academics.</p>
  	<br>
  	<p><span class="lead">Since becoming professors,</span> we had watched textbook prices steadily increase even while publishing and distribution costs decreased.</p>
  	<br>
  	<p>
  	<span class="lead">We also realized the market for educational materials was shifting.</span> Traditional textbooks were being enveloped by digital materials which offered much more convenience, flexibility, and dynamic content. More and more students were bringing laptops and tablets to school.</p>
  	<br>
  	<p>
  	<span class="lead">We decided to start new type of publishing company in 2010.</span> We strive for textbooks that not only can be used at the world's best institutions, but also that can remain low cost.  Further, we embed section-level videos, adaptive problem sets, and other technologies the modern web provides.</p>
 	<br>
  	<p>
  	<span class="lead">Come, and rediscover the textbook.</span> We think you'll be pleased.</p>
  	<hr>
  	<p>Our offices are located in the heart of the Rocky Mountains in Orem, Utah, USA. Please <a href="/contact">contact us</a> by email regarding book adoption, textbook authorship, or other general questions.</p>
  	<br>

</%block>