<%inherit file="base.htm"/>

<%block name = "content">
<div class="row">
    <div class="col-md-12">
      <h2>Feedback</h2>
      <p>If you have any questions, comments, or ideas, let us know at <strong>info@myeducator.com.</strong></p><br>
      <h2>Technical Support</h2>
      <p>If you are experiencing technical errors, please email <strong>support@myeducator.com</strong>.</p><br>
      <h2>Media</h2>
      <p>For any media or press enquiries, please contact us at <strong>press@myeducator.com</strong>.</p>
      <hr>
      <address>
        <strong>MyEducator, Inc.</strong><br>
        1475 W. Center Street<br>
        Orem, UT 84057<br>
      </address>
    </div>
    <div class="col-md-12">
      <div class="boxed_container" id="map_canvas"></div>
    </div>
  </div>
</%block>