##Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list

<%inherit file="base.htm"/>

<%block name="content">


<img src="${ STATIC_URL }base_app/images/scenery.jpg"></a>
##<div class="row">
	##<div class="col-md-2">
		##<a href="http://byu.edu/" class = "btn btn-primary">Go to BYU</a>
	##</div>
	##<div class="col-md-2">
		##<a href="http://utah.edu/" class = "btn btn-danger">Go to Utah</a> 
	##</div>
	##<div class="col-mid-2">
		##<a href="http://www.colostate.edu/" class = "btn btn-success">Go to CSU</a> 
	##</div>
##</div>

	<br>
	<br>
	<br>
	<p>
		Lorem ipsum dolor sit amet, utinam quaeque minimum usu eu. Eu agam noluisse persecuti mea. Et vim solet ubique postulant. Mei vivendum pertinax persecuti an, ex noluisse molestiae sed. In est probo mediocrem intellegebat.
	</p>
	<p>
		Velit hendrerit eam id. An errem vocent explicari ius. Nec ex oportere sententiae necessitatibus, accumsan dignissim ius an, pro ei facilis ocurreret vulputate. Est option invenire eleifend et, epicurei partiendo consulatu duo no. Assum latine alterum usu ei.
	</p>

	<p>
		Qui no timeam meliore nominati, cu usu movet malorum propriae. Eius labores comprehensam mei at, mel cu integre detracto honestatis. Est et vidit labore liberavisse, eligendi splendide moderatius ad nam. Ei integre sadipscing reprehendunt usu, ea qui essent assentior philosophia, et quem odio ponderum usu. Nec ut quem legimus phaedrum. Atqui viris democritum id quo, qui soleat sadipscing ex, commodo constituam mei ad.
	</p>

	<p>
		Est no simul petentium pertinacia, ei nec amet posse quidam. Quis principes mei ne. Aeque officiis ius te. Nam eu simul essent persecuti. Ea fuisset appareat ius, no nec docendi delectus. Ad saepe elaboraret dissentiet est.
	</p>

	<p>Te sit unum fuisset scaevola, eum virtute epicurei deterruisset ei. Usu sonet eligendi deterruisset an, ut qui dictas expetenda maluisset. Nobis recteque patrioque mei an. Ei per perfecto pericula omittantur, at mea evertitur forensibus, vel te option fabellas consectetuer.
	</p>
	##<h3>This is my Label Example<span class="label label-success">I am a label!</span></h3>
</%block>  
