<%inherit file="base_template.htm"/>


<%block name="left_side">

	<h3 align = "center">Categories: </h3>
        <ul class="nav nav-pills nav-stacked" align ="center">

		        <li><a href ="/catalog/products/1">Accessories</a></li>
		        <li><a href ="/catalog/products/2">Bags and Cases</a></li>
		        <li><a href ="/catalog/products/3">Camcorders</a></li>
		        <li><a href ="/catalog/products/4">Digital Cameras</a></li>
		        <li><a href ="/catalog/products/5">Digital SLRs</a></li>
		        <li><a href ="/catalog/products/6">Film</a></li>
		        <li><a href ="/catalog/products/7">Lenses</a></li>
		        <li><a href ="/catalog/products/8">Lighting and Studio</a></li>
        </ul>



</%block>

