<%inherit file="base.htm"/>

<%block name = "content">
    <div class = "row">

        <a href = "/catalog/products/1">
            <div class = "col-md-3">
                <p align = "center">
                    <img src = "${ STATIC_URL }base_app/images/accessories.png" height="175px" width="225px">
                </p>
                    <h4 align = "center">Accessories</h4>
             </div>
        </a>

       <a href = "/catalog/products/2">
            <div class = "col-md-3">
                <p align = "center">
                    <img src = "${ STATIC_URL }base_app/images/bags.png" height="175px" width="225px">
                </p>
                    <h4 align = "center">Bags and Cases</h4>
             </div>
        </a>

       <a href = "/catalog/products/3">
            <div class = "col-md-3">
                <p align = "center">
                    <img src = "${ STATIC_URL }base_app/images/camcorder.png" height="175px" width="225px">
                </p>
                    <h4 align = "center">Camcorders</h4>
             </div>
        </a>

        <a href = "/catalog/products/4">
            <div class = "col-md-3">
                <p align = "center">
                    <img src = "${ STATIC_URL }base_app/images/digitalcamera.png" height="175px" width="225px">
                </p>
                    <h4 align = "center">Digital Cameras</h4>
             </div>
        </a>

    </div>

<br>
<br>


    <div class = "row">

        <a href = "/catalog/products/5">
            <div class = "col-md-3">
                <p align = "center">
                    <img src = "${ STATIC_URL }base_app/images/digitalslr.png" height="175px" width="225px">
                </p>
                    <h4 align = "center">Digital SLRs</h4>
             </div>
        </a>

       <a href = "/catalog/products/6">
            <div class = "col-md-3">
                <p align = "center">
                    <img src = "${ STATIC_URL }base_app/images/film.png" height="175px" width="225px">
                </p>
                    <h4 align = "center">Film</h4>
             </div>
        </a>

       <a href = "/catalog/products/7">
            <div class = "col-md-3">
                <p align = "center">
                    <img src = "${ STATIC_URL }base_app/images/lenses.png" height="175px" width="225px">
                </p>
                    <h4 align = "center">Lenses</h4>
             </div>
        </a>

        <a href = "/catalog/products/8">
            <div class = "col-md-3">
                <p align = "center">
                    <img src = "${ STATIC_URL }base_app/images/lighting.png" height="175px" width="225px">
                </p>
                    <h4 align = "center">Lighting and Studio</h4>
             </div>
        </a>

    </div>
</%block>
