##Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list

<%inherit file="base.htm"/>

<%block name="content">

    <div class="container" align="left">
        <div class="row">
            <div class="col-md-3">
                <form action="#" method="get">
                    <div class="input-group">
                        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                        <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                        <!--<span class="input-group-btn">-->
                            <!--<button type="submit" class="btn btn-default">GO!</button>-->
                        <!--</span>-->
                    </div>
                </form>
            </div>
        </div>
    </div>

        <div class = "row">
            <div class="col-md-12">
                <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th width="15%">Name</th>
                            <th width="15%">Description</th>
                            <th width="40%">Image</th>
                            <th width="10%">Price</th>
                            <th width="5%"></th>

                        </tr>
                    </thead>
                    <tbody>
                        %for item in productspecification_key:
                            <tr>
                                <td><h3>${ item.name }</h3></td>
                                <td>${ item.description }</td>
                                <td><img src ="${ item.product_image }" alt="" style="height: 160px; width: 40%; display: block;"></td>
                                <td>$ ${ item.sale_price}</td>
                                <td>
                                    <a href="/catalog/shopping_cart_edit/${ item.id }/1/"><button class = "btn btn-success"><img src ="${ STATIC_URL }base_app/images/cart.png" HEIGHT="17" WIDTH = "17"> Add to Cart</button></a>
                                        <!--<button class="btn btn-success"><img src ="${ STATIC_URL }base_app/images/cart.png" HEIGHT="20" WIDTH = "20">Add to Cart-->
                                        <!--</button></a>-->
                                </td>
                            </tr>
                        %endfor
                    </tbody>

                </table>
            </div>
        </div>
</%block>
